@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#wsudu:not(.ws),
#wsudu:not(.ws) * {
    font-size: 0 !important;
    color: transparent !important;
}

#wsudu:not(.ws) {
    &:after {
        content: '';
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;
        border: 5px solid rgba($loaderColor, 0.2);
        border-left: 5px solid $loaderColor;
        animation: load 1.1s infinite linear;
        border-radius: 50%;
    }    
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ws {
    padding-left: 280px;
    transition: $sideBarToggleTrasition padding-left;
    &.isHiddenSidebar {
        padding-left: 0;
    }
    
    &-content {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
        overflow: auto;
        height: 100vh;
    }
}

@import 'components/component';
@import 'components/control-ui';
@import 'components/filter';
@import 'components/sidebar';
