.ws-component {
    margin: 30px 0;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    &__title {
        color: $componentTitle;
        padding-bottom: 0.3em;
        font-size: 25px;
        line-height: 1.1;
        border-bottom: 1px solid $componentUnderline;
        position: relative;
    }
    &__prev {
        border: 1px solid #A0A0A0;
        border-radius: 3px 3px 0 0;
        padding: 16px;
        margin: 0;
        margin-top: 10px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAF0lEQVR4AWP4DwVvoWCgBGAMmMQACQAAuK72AWHjK4wAAAAASUVORK5CYII=');
        overflow: scroll;
        .isHiddenSidebar & {
            margin-left: -20px;
            margin-right: -20px;
            background: none;
            overflow: visible;
            padding: 0;
            padding: 0;
            border: 0;
        }
    }
    &__btn {
        border: 0;
        background: $componentBtnBg;
        color: $componentBtnText;
        padding: 5px 10px;
        margin-top: -5px;
        margin-left: 10px;
        outline: none;
        position: relative;
        top: 9px;
        transform: scale(.9);
        transform-origin: center bottom;
        opacity: .7;
        transition: $baseTransition;
        cursor: pointer;
        &+& {
            margin-left: 0;
        }
        &.wsActive {
            transform: scale(1);
            opacity: 1;
        }
    }
}
