.ws-control-ui {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    //width: 260px;
    background: $controlUiBg;
    padding: 4px 10px 0;
    height: 20px;
    border-radius: $controlUiRadius $controlUiRadius 0 0;
    transition: $baseTransition left;
    
    .isHiddenSidebar & {
        left: 5px;
    }
    &__nav {
        fill: $controlUiIcoFill;
        width: 17px;
        cursor: pointer;
        user-select: none;
    }
}
