.ws-filter {
    margin: 12px 10px;
    position: relative;
    &__input {
        width: 100%;
        box-sizing: border-box;
        border-radius: $sideBarSearchInputRadio;
        border: 0;
        height: 25px;
        padding: 0 20px 0 5px;
    }
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        text-align: center;
        line-height: 25px;
        font-size: 19px;
        cursor: pointer;
    }
}