.ws-sidebar {
    background: $sideBarBg;
    position: fixed;
    top: 0;
    bottom: 23px;
    left: 0;
    z-index: 1;
    width: 280px;
    overflow-x: auto;
    padding: 10px 0;
    transform: translateX(0);
    transition: $sideBarToggleTrasition transform;
    box-sizing: border-box;
    box-shadow: 0 30px 0 0 $sideBarBg;
    .isHiddenSidebar & {
        transform: translateX(-100%);
    }
    &__title {
        color: $sideBarColor;
        font-size: 22px;
        margin: 5px 10px 10px 10px;
        line-height: 1;
        cursor: pointer;
    }
    ul {
        padding: 3px 10px;
        list-style: none;
        ul {
            padding-left: 20px;
        }
        li {
            padding: 0;
            margin: 0;
            color: $sideBarColor;
            &:before {
                display: none;
            }
            button {
                &:before {
                    content: "└";
                    margin: 0 10px;
                    display: inline-block;
                }
                display: block;
                width: 100%;
                background: none;
                border: 0;
                padding: 5px 10px;
                color: inherit;
                font-family: $baseFont;
                font-size: 13px;
                text-align: left;
                cursor: pointer;
                outline: none;
                &:hover {
                    background: $sideBarItemBgHove;
                }
                &.active {
                    background: $sideBarItemBgHove;
                    color: $sideBarItemTextHove;
                }
            }
        }
    }
}
