$baseTransition: .2s;

$primaryColor: #272822;
$secondaryColor: #b5b5b5;
$thirdColor: #eee;

$loaderColor: $primaryColor;

$sideBarBg: $primaryColor;
$sideBarColor: $secondaryColor;
$sideBarItemBgHove: lighten($primaryColor, 10%);
$sideBarItemTextHove: $thirdColor;
$sideBarSearchInputRadio: 3px;
$sideBarSearchInputBorder: 1px solid $secondaryColor;
$sideBarToggleTrasition: $baseTransition;

$controlUiBg: $primaryColor;
$controlUiIcoFill: $secondaryColor;
$controlUiRadius: 3px;

$componentTitle: $primaryColor;
$componentUnderline: $thirdColor;
$componentBtnBg: $primaryColor;
$componentBtnText: $thirdColor;

$baseFont: Arial,Helvetica,sans-serif;

@import '../wsudu';
@import '../../../../node_modules/prismjs/themes/prism-okaidia';
