<template>
    <div v-if="routerComponents" class="ws-component">
        <h2 class="ws-component__title">
            {{$root.components[name].name}}
        </h2>
        <div
            v-if="$root.components[name].description"
            class="ws-component__description" 
            v-html="markdown"></div>
        <div v-if="$root.components[name].code" class="ws-component__prev" v-html="getCompilate"></div>
        <button
            v-on:click="setDisplayHtml"
            v-bind:class="{wsActive: displayHtml}"
            v-if="$root.components[name].code"
            class="ws-component__btn">
            HTML
        </button>
        <button
            v-on:click="setDisplayCompilation"
            v-bind:class="{wsActive: displayCompilation}"
            v-if="$root.components[name].code
            != $root.components[name].htmlCompilation"
            class="ws-component__btn">
            {{$root.components[name].type}}
        </button>
        <pre
            class="language-html"
            v-show="displayCompilation"
            v-if="$root.components[name].code != $root.components[name].htmlCompilation"><code v-html="highlight($root.components[name].code)"></code><!--
    --></pre>
        
        <pre
            class="language-html"
            v-show="displayHtml"
            v-if="$root.components[name].code"><code v-html="highlight($root.components[name].htmlCompilation)"></code><!--
    --></pre>
    </div>
</template>

<script>
    export default {
        name: 'componentdetail',
        props: ['name'],
        data() {
            return {
                displayHtml: false,
                displayCompilation: false,
            }
        },
        methods: {
            highlight: function(input) {
                return Prism.highlight(input, Prism.languages.html);
            },
            setDisplayHtml: function() {
                this.displayHtml = !this.displayHtml;
                this.displayCompilation = false;
            },
            setDisplayCompilation: function() {
                this.displayCompilation = !this.displayCompilation;
                this.displayHtml = false;
            }
        },
        computed: {
            routerComponents: function() {
                var myReturn = false;
                var categoriesArray = wsuduLib.alwaysArray(this.$root.components[this.name].category);
                var openCategory = this.$root.openCategory;

                categoriesArray.forEach(function(category) {
                    if (openCategory == category || wsudu.openCategory == '') {
                        myReturn = true;
                        return;
                    }
                });

                return myReturn;
            },
            markdown: function() {
                return marked(this.$root.components[this.name].description);
            },
            getCompilate: function() {
                var thisComponent = this.$root.components[this.name];

                if (thisComponent.htmlCompilation == '') {
                    if (thisComponent.type == 'html') {
                        thisComponent.htmlCompilation = thisComponent.code;
                    } else if (wsuduCgf.templateEngine[thisComponent.type] != undefined) {
                        wsuduCgf.templateEngine[thisComponent.type](this.name);
                    }
                }

                return thisComponent.htmlCompilation;
            }
        },
        created: function() {
            Vue.set(this.$root.components[this.name], 'htmlCompilation', '');
        }
    }

</script>
