<template>
    <div class="ws-control-ui">
        <svg class="ws-control-ui__nav" v-on:click="toggleSidebar" viewBox="0 0 32 32">
            <path d="M4 10h24c1 0 2-1 2-2s-1-2-2-2H4C3 6 2 7 2 8s1 2 2 2zm24 4H4c-1 0-2 1-2 2s1 2 2 2h24c1 0 2-1 2-2s-1-2-2-2zm0 8H4c-1 0-2 1-2 2s1 2 2 2h24c1 0 2-1 2-2s-1-2-2-2z"/>
        </svg>
    </div>
</template>

<script>
    export default {
        name: 'controlui',
        methods: {
            toggleSidebar: function () {
                this.$root.openSidebar = !this.$root.openSidebar;
                wsuduLib.setUrlVars('openSidebar', this.$root.openSidebar);
            }
        },
        created: function() {
            var self = this;

            if (wsuduLib.getUrlVars('openSidebar') == 'false') {
                self.toggleSidebar();
            }

            document.onkeydown = function(evt) {
                var evt = (evt) ? evt : ((event) ? event : null);
                var tabKey = 9;
                if (evt.keyCode == tabKey) {
                    self.toggleSidebar();
                }
            }
        }
    }
</script>
