<template>
    <ul>
        <li v-show="fitlerNavigation(key, value)" v-for="(value, key) in items">
            <button v-bind:class="activeClass(routerFce(key))" v-on:click="setCategory(routerFce(key))">{{key}}</button>
            <navigation v-if="testHasSubItems(value)" v-bind:parent="routerFce(key)" v-bind:items="value"></navigation>
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'navigation',
        props: ['parent', 'items'],
        methods: {
            setCategory: function(slug) {
                wsuduLib.setUrlVars('c', slug);
            },
            routerFce: function(key) {
                var parent = '';

                if (this.parent != undefined) {
                    parent = this.parent + '/';
                }

                return parent + key;
            },
            testHasSubItems: function(value) {
                return JSON.stringify(value) == '{}' ? false : true;
            },
            activeClass: function(category) {
                var isActive = false;
                
                if (category == this.$root.openCategory) {
                    isActive = true;
                }

                return {
                    active: isActive
                }
            },
            fitlerNavigation: function(active, children) {
                var children = JSON.stringify(children).replace(/{|}|"|:/g, '').replace(/,/g, 'ł');      

                if (active.search(this.$root.filterNavigation) >= 0 || children.search(this.$root.filterNavigation) >= 0) {
                    return true;
                }
            }
        }
    }
</script>
