<template>
    <div id="wsudu" class="ws" v-bind:class="{isHiddenSidebar: !$root.openSidebar}">        
        <div class="ws-sidebar">
            
            <h1 class="ws-sidebar__title" v-if="$root.title" v-on:click="goHomo">
                {{$root.title}}
            </h1>
            
            <div class="ws-filter">
                <input class="ws-filter__input" v-model="$root.filterNavigation" placeholder="Filter..." type="text">
                <span v-on:click="$root.filterNavigation = ''" class="ws-filter__close" v-if="$root.filterNavigation">×</span>
            </div>
            
            <navigation v-bind:items="$root.navigation"></navigation>
        </div>
    
        <controlui></controlui>
      
       <div class="ws-content">
           
            <div v-if="starHtml && !$root.openCategory" v-html="starHtml"></div>
           
            <template v-if="$root.showAll || $root.openCategory" v-for="(component, key) in $root.components">
                <componentdetail v-bind:name="key"></componentdetail>
            </template>
        </div>
    </div>
</template>

<script>
    import wsuduLib from './lib.js'
    import navigation from './components/navigation.vue'
    import componentdetail from './components/componentdetail.vue'
    import controlui from './components/controlui.vue'

    export default {
        name: 'wsudu',
        components: {
            navigation,
            componentdetail,
            controlui
        },
        data() {
            return {
                starHtml: document.getElementById("wsudu").innerHTML
            }
        },
        methods: {
            goHomo: function() {
                wsuduLib.setUrlVars('c', '');
            }
        },
        created: function() {
            var self = this;
            
            wsuduLib.getWsuduData(wsuduCgf.dataPath, function(wsuduData) {
                self.$root.components = wsuduData;
                self.$root.navigation = wsuduLib.getArrayNavigation(wsuduData);
            });

            window.addEventListener("hashchange", function(event) {
                self.$root.openCategory = wsuduLib.getUrlVars('c');
                document.querySelector(".ws-content").scrollTop = 0;
                document.querySelector(".ws-content").scrollLeft = 0;
            });
        }
    }

</script>
